<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SmallPDF Converter</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='assets/favicon.ico')}}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">SmallPdDF Converter</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Images to PDF Converter!</h1>
                        

                            <form class="mt-4 g-3" action="/converted" method="post" enctype="multipart/form-data">
                                <div class="card mb-4">
                                    <div class="card-header">Enter the image</div>
                                    <div class="card-body">
                                        <div class="input-group">
                                            <div class="input-group mb-3">
                                                <label class="input-group-text">Upload the file</label>
                                                <input type="file" class="form-control" name="img" >
                                              </div>
                                            <button class="btn btn-primary"  type="submit" value="Upload">Convert!</button>
                                        </div>
                                    </div>
                              </form>
                             

                        </header>

                        <br>
                        <br>
                        <br>
                        <br>





                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{url_for('static',filename='img/index.png')}}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">By keeping it clean, simple, and all about user experience, Smallpdf has become the most loved and trusted PDF software on the planet, and the first and only PDF software you’ll love.</p>
                        </section>
                    </article>
                    <!-- Comments section-->
                   
                </div>
                <!-- Side widgets-->
               
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>